.faq-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px;
}

.faq-section h2 {
  color: #4f46e5;
  font-size: 32px;
  text-align: center;
  margin-bottom: 40px;
}

.faq-container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #faf8ff;
  padding: 3%;
}

.faq-item {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 15px;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  cursor: pointer;
}

.faq-question h3 {
  margin: 0;
  font-size: 18px;
  color: #000;
  font-weight: 500;
}

.faq-icon {
  font-size: 24px;
  color: #4f46e5;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition:  0.3s ease;
}

.faq-item.active .faq-answer {
  max-height: 500px;
  padding-bottom: 20px;
}

.faq-item.active .faq-question h3 {
  color: #4f46e5;
}

.faq-answer p {
  margin: 0;
  color: #666;
  line-height: 1.6;
}

.faqHeading{
  font-weight: 600;
  color:#4f46e5;
  border-radius: 7px;
  gap: 13px;
}
@media screen and (max-width: 768px) {
  .faq-section {
    padding: 40px 20px;
  }

  .faq-section h2 {
    font-size: 28px;
  }

  .faq-question h3 {
    font-size: 16px;
  }
}